################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ColourfulFlashPoints/obj
/ColourfulFlashPoints/bin/Release
/ColourfulFlashPoints/ColourfulFlashPoints.csproj.user
